
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index Knockout";
}
@section scripts
{
    <script src="~/ViewModels/IndexViewModel.js"></script>
    <script type="text/javascript">
        (function () {
            var vm = new kjs.validation.IndexViewModel();
            var dom = $("#demoArea")[0]

            ko.applyBindingsWithValidation(vm, dom);
        })();
    </script>
}

<h2>Example Validation With Knockout using Typescript</h2>

<div id="demoArea">
    <div>
        <label>FavoriteSport</label>
        <input type="text" data-bind="value: FavoriteSport" />
        <br />
        <label>FullName</label>
        <input type="text" data-bind="value: FullName" />
        <br />
        <label>Age</label>
        <input type="number" data-bind="value: Age" />
        <br />
        <label>Equal</label>
        <input type="text" data-bind="value: IfEqualValue" />
        <br />
        <label>NotEqual</label>
        <input type="text" data-bind="value: IfNotEqualValue" />
        <br />
        <label>NonObjectValue</label>
        <input type="text" data-bind="value: NonObjectValue" />
        <br />
        <label>AllowLowerCase</label>
        <input type="text" data-bind="value: AllowLowerCase" />
        <br />
        <label>PhoneNumberCase</label>
        <input type="tel" data-bind="value: PhoneNumberCase" />
        <br />
        <input type="button"  value="Save" />
    </div>
</div>




