
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index Knockout";
}
@section scripts
{
    <script src="~/ViewModels/IsPositiveNumberRule.js"></script>
    <script src="~/ViewModels/IndexViewModel.js"></script>
    <script type="text/javascript">
        (function () {
            var vm = new kjs.validation.IndexViewModel();
            var dom = $("#demoArea")[0]

            //HTML5 VALIDATION NEEDS
            var options = {
                parseInputAttributes : true
            }
            ko.applyBindingsWithValidation(vm, dom, options);
        })();
    </script>
}

<h2>Example Validation With Knockout using Typescript</h2>

<div id="demoArea">
    <div>
        <label>FavoriteSport</label>
        <input type="text" data-bind="value: FavoriteSport" />
        <br />
        <label>FullName</label>
        <input type="text" data-bind="value: FullName" />
        <br />
        <label>Age</label>
        <input type="number" data-bind="value: Age" />
        <br />
        <label>Equal</label>
        <input type="text" data-bind="value: IfEqualValue" />
        <br />
        <label>NotEqual</label>
        <input type="text" data-bind="value: IfNotEqualValue" />
        <br />
        <label>NonObjectValue</label>
        <input type="text" data-bind="value: NonObjectValue" />
        <br />
        <label>AllowLowerCase</label>
        <input type="text" data-bind="value: AllowLowerCase" />
        <br />
        <label>PhoneNumberCase</label>
        <input type="tel" data-bind="value: PhoneNumberCase" />
        <br />
        <p class="text-uppercase">Custom Validation</p>
        <label>MustBePositiveNumber</label>
        <input type="text" data-bind="value: MustBePositiveNumber" />
        <br />
        <p class="text-uppercase">Custom Validation Computed</p>
        <label>MustBePositiveNumber</label>
        <input type="text" data-bind="value: CustomValidationValue1" />
        <input type="text" data-bind="value: CustomValidationValue2" />
        <br />
        <p class="text-uppercase">Custom Validation Condicional</p>
        <label>If Only Required checkbox checked true</label>
        <input type="checkbox" data-bind="checked: RequiresValidation" />
        <input type="text" data-bind="value: ValueToValidate" placeholder="Enter text" />
        <br />
        <span class="has-error validationMessage" data-bind="validationMessage: CustomValidationTotal"></span>
        <p class="text-uppercase">Custom Validation HTML5</p>
        <label>Required HTML5</label>
        <input type="text" data-bind="value: RequiredValidation" required="required" placeholder="Enter text" />
        <p><span class="text-danger validationMessage" data-bind="validationMessage: RequiredValidation"></span></p>
        <br />
        <label>Range HTML5</label>
        <input type="number" data-bind="value: RangeFieldValidation" step="1" max="5" min="10" />
        <p><span class="text-danger validationMessage" data-bind="validationMessage: RangeFieldValidation"></span></p>

        <input type="button"  value="Save" />
    </div>
</div>




