
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "IndexValidationAdvancedConfig";
}
@section scripts
{
    <script src="~/ViewModels/IsPositiveNumberRule.js"></script>
    <script src="~/ViewModels/IndexValidationAdvancedConfigViewModel.js"></script>
    <script type="text/javascript">
        (function () {
            var vm = new kjs.validation.IndexValidationAdvancedConfigViewModel();
            var dom = $("#demoArea")[0]

            //CONFIGURATION
            var configuration = {
                insertMessages: true,
                messageTemplate: "customTemplate"
            }
            ko.applyBindingsWithValidation(vm, dom, configuration);
        })();
    </script>
}

<script type="text/html" id="customTemplate">
    <span data-bind="if:field.isModified() && !field.isValid()">
        <a href="#" data-toggle="tooltip" data-bind="attr: {title: field.error}, text: field.error"></a>
    </span>
</script>

<h2>IndexValidationAdvancedConfig</h2>
<br />
<div id="demoArea">
    <div class="row well">
        <div class="col-md-6 col-md-offset-4">
            <label>First Name</label>
            <input type="text" data-bind="value: FirstName" placeholder="First Name" />
        </div>
        <br />
        <div class="col-md-6 col-md-offset-4">
            <label>Last Name</label>
            <input type="text" data-bind="value: LastName" placeholder="Last Name" />
        </div>
        <br />
        <div class="col-md-6 col-md-offset-4">
            <label>Age</label>
            <input type="number" data-bind="value: Age" placeholder="Age" />
            <br />
        </div>
    </div>
</div>

